run = "cd packages/scheduler-web && npm start"
language = "nodejs"
modules = ["nodejs-20"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 37948231
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd packages/scheduler-web && npm start"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-24_05"

# [packager]
# language = "nodejs"
#
# [packager.features]
# packageSearch = true
# guessImports = true
# enabledForHosting = false
#
# [[ports]]
# localPort = 3000
# externalPort = 80
